.schedule__hero {
  display: grid;
  place-content: center;
  position: relative;
  width: 100%;
  min-height: 600px;

  color: white;
}

.schedule__hero::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.schedule__hero-header,
.schedule__hero p {
  position: relative;
  z-index: 1;
}

.schedule__hero-header {
  margin-bottom: 2rem;
}

.schedule__hero-header::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10rem;
  height: 5px;
  transform: translateX(-50%);

  background-color: white;
}

.schedule__hero p {
  margin-inline: auto;
}

.schedule__hero picture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  z-index: -1;
}

.schedule__hero img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 100%;
  min-height: 600px;
}

.schedule__section-1 {
  position: relative;
  margin-inline: auto;
  padding: 2rem 0;
}

.schedule__section-1 h1 {
  line-height: 1.1;
}

.schedule__section-1 p {
  padding: 2rem;
}

.schedule__section-1 a:hover {
  text-decoration: none;
}

.schedule__section-buttons {
  gap: var(--3-col-gap, 2rem);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

.schedule__section-buttons[data-visible="false"] {
  animation: FadeOut 0.5s ease-in-out 0s 1 forwards;
}

.schedule__section-buttons button {
  display: grid;
  width: clamp(300px, 22vw, 375px);
  height: clamp(300px, 22vw, 375px);
  padding: 2rem 1rem;
  place-content: center;

  color: black;
  background-color: white;
  border: 2px solid firebrick;
  box-shadow: 0px 0px 5px 3px black;
  transition: 500ms ease;
}

.schedule__section-buttons button:hover {
  background-color: firebrick;
  color: white;
}

.schedule__left-side {
  width: 100%;
}

.left-side--1,
.left-side--2 {
  gap: var(--2-col-gap, 1rem);
  width: 100%;
  flex-direction: column;
}

.form-control {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.checkbox {
  display: grid;
  place-content: center;
  margin: 0;
  width: 1.15em;
  height: 1.15em;

  font: inherit;
  color: currentColor;

  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  appearance: none;
  background-color: #fff;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em firebrick;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}

.schedule__section-links-1 {
  gap: var(--section-gap, 2rem);
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 0;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.schedule__section-links-1[data-visible="true"] {
  animation: FadeIn 0.5s ease-in-out 0.5s 1 forwards;
}

.schedule__section-links-1 a,
.schedule__section-links-1 button {
  min-width: 100%;
  padding: 2rem 1rem;

  background-color: #333;
  color: white;
  border: 0px;
  transition: 500ms ease;
}

.schedule__section-buttons a {
  color: white;
}

.schedule__section-links-1 a:hover,
.schedule__section-links-1 button:hover {
  text-decoration: none;
  background-color: firebrick;
  transform: scale(110%);
}

@media (min-width: 1024px) {
  .schedule__section-links-1 {
    gap: var(--2-col-gap, 2rem);
    flex-direction: row;
  }

  .schedule__section-links-1 > * {
    flex: 1;
  }

  .schedule__left-side {
    justify-content: space-evenly;
  }
}

@keyframes FadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
